.btn {
    background: #fff;
    width: 80px;
    height: 30px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    line-height: 15px;
}

.btn:hover {
    background: #CDE2D0;
}

.btn:focus {
    background: #2D3A3A;
    color: white;
}